<nav class="content-box">
    <header class="navigation">
        <ul>
            <li>Home</li>
            <li>Custom</li>
            <li>Sedan</li>
            <li>SUV</li>
            <li>Truck</li>
        </ul>
    </header>
</nav>