<h1><%= title %></h1>

<%# messages() %>


<form action="/inv/add-classification" method="POST" onsubmit="return validateForm()">
    <div>
        <label for="classificationName">Classification Name:</label>
        <input type="text" id="classificationName" name="classification_name" required>
    </div>
    <div id="errorContainer" style="color: red;"></div>
    <button type="submit">Add Classification</button>
</form>